@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  transition-duration: var(--transition-duration);
}

@mixin scrol-menu {
  display: flex !important;
  flex-wrap: nowrap !important;
  justify-content: space-around !important;
  overflow-x: scroll !important;
  white-space: nowrap !important;
  justify-content: space-between !important;
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;

  &::-webkit-scrollbar {
    width: 0 !important;
  }
}

@mixin main-info {
  display: flex !important;
  flex-direction: column !important;

  .main-info__text {
    width: 100% !important;
  }

  .main-info__picture img {
    width: 100% !important;
  }
}

@mixin swiper-block-mobile {
  overflow: hidden !important;
  height: 100%;

  .swiper-container {
    width: 81.25vw !important;

    .swiper-wrapper {
      .swiper-slide {
        margin-right: 8px;
      }
    }
  }

  .swiper-pagination {
    --swiper-pagination-bottom: auto !important;
    background-color: var(--color-background-main) !important;

    .swiper-pagination-bullet {
      background-color: var(--color-grey) !important;
    }
  }

  .brand-btn {
    width: 240px;
    height: 72px;
    margin: 16px;
    border: var(--border-out);
    border-radius: var(--border-radius-frame);
  }

  .tech-btn {
    width: 240px;
    height: 160px;
    margin: 16px;
    border: var(--border-out);
    border-radius: var(--border-radius-frame);
  }
}
