@font-face {
  font-family: 'TT Lakes';
  src: url('../fonts/TTLakes-Light.woff') format(woff);
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'TT Lakes Condensed';
  src: URL('../fonts/TTLakesCondensed-Bold.woff') format(woff);
  font-style: normal;
  font-weight: bold;
  font-display: swap;
}
